* {
	font-family: "Helvetica Neue", sans-serif;
	font-size: 15px;
	font-weight: 200;
	color: #555;
}

#results .pokemon {
	display: flex;
	margin: 5px;
}

#results .pokemon.interesting {
	background: #B3FFB8;
}

#whitelist {
	margin: 10px 0;
}

.pokemon > .name {
	flex-shrink: 0;
}

.pokemon .name {
	width: 25%;
	font-weight: bold;

}

.pokemon .when {
	width: 30%;
	text-align: center;
}

.pokemon .distance {
	width: 15%;
	text-align: center;
}

pokemon .coords {
	width: 35%;
}
